table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: small;
    border-color: brown;
    border-width: 2px;
}
th{
    text-align: center;
    font-size: 12px;
}
thead{
    background-color: dimgray;
    color: white;
}